.cart {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 100vh;
    &__title {
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
    &__list {
        width: 60%;
        margin: 0 auto;
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);
        &-title, &-price  {
            width: 250px;
            text-align: center;
            color: #fff;
            font-size: 24px;
        }
        &-img {
            height: 125px;
            width: 250px;
            object-fit: cover;
        }
    }
    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        top: -10px;
        right: -10px;
        color: black;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }
    &__item-counter{
        position: absolute;
        right: 10px;
        left: 50%;
        top: 50px;
    }
}

.cart__order{
    display: block;
    text-decoration: none;
    width: 300px;
    height: 40px;
    border: none;
    background-color: #29a745;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
}

.without-order{
    display: flex;
    flex-direction: column;
}

.without-order h2{
    margin: 0 auto;
    color:white;
}

.without-order-img{
    // width: 600px;
    // height: 600px;
    margin: 0 auto;
}

.plus{
    position: absolute;
    border:0;
    font-size:0;
    width: 25px;
    height: 25px;
    left:38%;
    top:3px;

    background-color: inherit;
    background-image: url("./plus.svg");
}

.minus{
    position: absolute;
    border:0;
    font-size:0;
    width: 25px;
    height: 25px;
    right:40%;
    top:3px;

    background-color: inherit;
    background-image: url("./minus.svg"); 
}